
<ion-view view-title="Conta">
  <ion-content>
    
      <!--Conta -->
    <div class="imgwrap">
<img src="img/winston.jpg">
        <div class="img-overlay">
                  </div>
                  </div> 
      <ul class="list">    
          
          
<label class="item item-input item-stacked-label">
    <span class="input-label">Nome de usuario</span>
    <input type="text" placeholder="Martin">
  </label>
          
  <label class="item item-input item-stacked-label">
    <span class="input-label">Senha</span>
    <input type="password" placeholder="********">
  </label>
          
  <li class="item item-toggle">
     Notificações
     <label class="toggle toggle-laranjinha">
       <input type="checkbox"checked="">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
          
<br><br><br><br><br><br><br><br><br><br>        
<button class="button button-block button-laranjinha">
  Salvar
</button>
  

</ul>
      
  </ion-content>
</ion-view>
