<ion-view view-title="Criar evento">
  <ion-content>
      <h1> Novo evento</h1>
      
    <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Nome do evento">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Local do evento">
  </label>
  <label class="item item-input">
    <textarea placeholder="Descrição do evento"></textarea>
  </label>
</div>
        <li class="item item-toggle">
     Evento publico
     <label class="toggle toggle-laranjinha">
       <input type="checkbox"checked="">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
      <a class="button button-block button-laranjinha" href="#/app/inicio">
  Salvar
</a>
  </ion-content>
</ion-view>


